*{
    box-sizing: border-box;

    margin: 0;

    padding: 0;

    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(183, 182, 182);
}
/* titolo */
.titolo{

    display: inline-block;
    

}

img,h1{
    vertical-align: middle;
}

.contenitore{

    background-color: white;

}
/* secondo contenitore */
.contenitore2{

    width: 75%;

    margin: auto;

    margin-top: 50px;

    background-color: blueviolet;

    border-radius: 10px;
   
}
    
.bottone1{

    margin: 20px;

    margin-left: 75px;

    width: 12%;
    
    height: 30px;

    border-radius: 10px;

    background-color: aquamarine;

}

.aggiungi{

    width: 12%;
    
    height: 30px;

    border-radius: 10px;

    padding-left: 10px;

}


.listitembox{

    width: 75%;

    margin: auto;

    margin-top: 50px;

    background-color: white;

    border-radius: 10px;

}

/* tutto cio che riguarda la list item è da qui in poi */

ul , ol{

    padding: 25px;

    list-style: none;


}



.check{

    border: 1px solid green;

    border-radius: 50%;

    margin-right: 10px;

    width: 20px;

    height: 20px;

    display: inline-block;

    text-align: center;

    line-height: 20px;
    
    vertical-align: middle;

    color: green;
    
    margin-top: 5px;

}

.cross{

    border: 1px solid red;

    border-radius: 50%;

    margin-right: 10px;

    width: 20px;

    height: 20px;

    display: inline-block;

    text-align: center;

    line-height: 20px;
    
    vertical-align: middle;

    color: red;

    margin-top: 5px;

}

/* da qui creo i pulsanti */

.bottone{

    width: 12%;
    
    height: 25px;

    border-radius: 10px;

    background-color: aquamarine;

    margin-top: 5px;

}

.bottone2{

    width: 12%;
    
    height: 25px;

    border-radius: 10px;

    background-color: orange;

    margin-botton: 5px;


}

.bottone3{

    width: 12%;
    
    height: 25px;

    border-radius: 10px;

    background-color: rgb(0, 255, 13);

    margin-bottom: 5px;



}

#speciale{

    width: 12%;
    
    height: 25px;

    border-radius: 10px;

    background-color: rgb(0, 255, 13);

    margin-top: 5px;

}